<h1> <%= @camper.name %> </h1>
<hr>

<div>
<b> Age:</b> <%= @camper.age %>
<br>
<br>
<b> Activities:</b>
<ul>
    <% @camper.activities.each do |activity| %>
        <li> <%= activity.name %> at <%= @camper.find_activity_time(activity) %> hours </li>
        <%= button_to "Delete Activity", signup_path(@camper.find_signup(activity)), method: :delete %>
    <% end%>
    
</ul>
</div>
<br>
<%= button_to "All Campers", campers_path, method: :get %>
<br>
<br>
<%= button_to "Signup for Activity", new_signup_path, method: :get %>